
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Galeri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
    <link href="~/CSS/Header.css" rel="stylesheet" />
    <link href="~/CSS/Main.css" rel="stylesheet" />
    <link href="~/CSS/Footer.css" rel="stylesheet" />
    <link href="~/CSS/Galeri.css" rel="stylesheet" />
    <link href="~/CSS/DENEME1.css" rel="stylesheet" />
    <style>
        h2 {
            margin-top: 0;
            font-size: 1.95rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
        }
    </style>
</head>
<body>
    <div class="Ana">
        <div class="Logo">
            <h2 style="text-align:center">DUMLUPINAR KUAFÖR SALONU</h2>
        </div>
        <div class="Header" id="HeaderID">
            <a href="/AnaSayfa/AnaSayfa" ><i class="fa fa-home"></i></a>
            <a href="/Hizmetler/Hizmetler"><i class="fa fa-male"></i><i class="fa fa-female"></i>	Hizmetler</a>
            <a href="/Galeri/Galeri" class="active"><i class="fa fa-image"></i>	Galeri</a>
            <a href="/Yorumlar/Yorumlar"><i class="fa fa-comment"></i>	Yorumlar</a>
            <a href="/Hakkımızda/Hakkimizda"><i class="fa fa-info-circle"></i>	Hakkımızda</a>
            <a href="/İletişim/İletişim"><i class="fa fa-envelope"></i>	İletişim</a>
            <a href="/Randevu/RandevuEkle"><i class="fa fa-bell"></i>	Randevu</a>
            <a href="/GirişSayfa/OrtakGiriş" id="Sag" href="GirişYap.html"><i class="fa fa-sign-in"></i>	Giriş Yap</a>
            <a id="Sag" href="/KayitSayfa/Kayit"><i class="fa fa-user"></i>	Kayıt Ol</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="Content">
            <div class="galeri-slider">
                <div class="swiper-container main-slider loading">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://iaftm.tmgrup.com.tr/26e21c/0/0/0/0/1280/800?u=https://iftm.tmgrup.com.tr/2020/04/16/berberler-kuafor-ve-guzellik-salonlari-ne-zaman-aciklacak-berberler-bu-ay-acilir-mi-1587069042271.jpg)">
                                <img src="https://iaftm.tmgrup.com.tr/26e21c/0/0/0/0/1280/800?u=https://iftm.tmgrup.com.tr/2020/04/16/berberler-kuafor-ve-guzellik-salonlari-ne-zaman-aciklacak-berberler-bu-ay-acilir-mi-1587069042271.jpg" class="entity-img" />
                            </figure>
                            <div class="content">

                                <span class="caption"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)">
                                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg" class="entity-img" />
                            </figure>
                            <div class="content">
                                <span class="caption"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)">
                                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s" class="entity-img" />
                            </figure>
                            <div class="content">
                                <span class="caption"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)">
                                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk" class="entity-img" />
                            </figure>
                            <div class="content">
                                <span class="caption"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
                                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM" class="entity-img" />
                            </figure>
                            <div class="content">
                                <span class="caption"></span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                </div>
                <div class="swiper-container nav-slider loading">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://iaftm.tmgrup.com.tr/26e21c/0/0/0/0/1280/800?u=https://iftm.tmgrup.com.tr/2020/04/16/berberler-kuafor-ve-guzellik-salonlari-ne-zaman-aciklacak-berberler-bu-ay-acilir-mi-1587069042271.jpg)">
                                <img src="https://iaftm.tmgrup.com.tr/26e21c/0/0/0/0/1280/800?u=https://iftm.tmgrup.com.tr/2020/04/16/berberler-kuafor-ve-guzellik-salonlari-ne-zaman-aciklacak-berberler-bu-ay-acilir-mi-1587069042271.jpg" class="entity-img" />
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)">
                                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg" class="entity-img" />
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)">
                                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s" class="entity-img" />
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)">
                                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk" class="entity-img" />
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
                                <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM" class="entity-img" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Footer">
            <div class="ÜstFooter">
                <div class="Bağlantı">
                    <h5>Site Bağlantıları</h5>
                    <li><a style="text-decoration:none;" href="/AnaSayfa/AnaSayfa">Ana Sayfa</astyle="text-decoration:none"></li>
                    <ul>
                        <li><a style="text-decoration:none" href="/İletişim/İletişim">İletişim</a></li>
                        <li><a style="text-decoration:none" href="/Randevu/RandevuEkle">Randevu</a></li>
                        <li><a style="text-decoration:none" href="/KayitSayfa/Kayit">Kayıt Ol</a></li>
                        <li><a style="text-decoration:none" href="/GirişSayfa/MüşteriGiriş">Giriş Yap</a></li>
                    </ul>
                    <ul>
                        <li><a style="text-decoration:none" href="/Hizmetler/Hizmetler">Hizmetler</a></li>
                        <li><a style="text-decoration:none" href="/Galeri/Galeri">Galeri</astyle="text-decoration:none"></li>
                        <li><a style="text-decoration:none" href="/Yorumlar/Yorumlar">Yorumlar</a></li>
                        <li><a style="text-decoration:none" href="/Hakkımızda/Hakkımızda">Hakkımızda</a></li>
                    </ul>
                </div>
                <div class="Yasal">
                    <h5>Yasal Bilgilendirme</h5>
                    <ul>
                        <li><a href="#">Gizlilik ve Güvenlik</a></li>
                        <li><a href="#">Kişisel Verilerin Korunması</a></li>
                        <li><a href="#">Kullanım Şartları</a></li>
                    </ul>
                </div>
                <div class="İletisim">
                    <h5>İletişim Bilgileri</h5>
                    <ul>
                        <li><b><i class="fa fa-map-marker"></i> Adres</b></li>
                        <li>Alipaşa Mahallesi Atatürk Bulvarı<br /> Merkez / Kütahya</li>
                        <li><b><i class="fa fa-phone"></i> Telefon</b></li>
                        <li>(274) 12 23</li>
                        <li><b><i class="fa fa-envelope"></i> E-Posta</b></li>
                        <li>info@dumlupınar.com</li>
                        <li><b>Sosyal Medya</b></li>
                        <li id="sosyal">
                            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                            <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                            <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
                            <a href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="AltFooter">
                <h6>Copyright 2020 - Dumlupınar Kuaför Salonu Tüm Hakları Saklıdır.</h6>
            </div>
        </div>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>
    <script src="~/Swiper.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("HeaderID");
            if (x.className === "Header") {
                x.className += " responsive";
            } else {
                x.className = "Header";
            }
        }
    </script>
</body>
</html>
